name: Complete Build

on: [push, pull_request]

env:
  GRADLE_OPTS: "-Dorg.gradle.jvmargs=-Xmx4g -Dorg.gradle.daemon=false -Dkotlin.incremental=false"

jobs:
  build-smartype:
    runs-on: macOS-latest
    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 1.15
      uses: actions/setup-java@v1
      with:
        java-version: 1.15
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '12.x'
    - name: Publish all
      run: ./gradlew publishToMavenLocal
      env:
        GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Archive maven
      uses: actions/upload-artifact@v2
      with:
        name: generator-maven
        path: |
          ~/.m2/repository/com/mparticle
    - name: Archive generator jar
      uses: actions/upload-artifact@v2
      with:
        name: generator-jar
        path: |
          smartype-generator/build/libs

  build-web-example:
    needs: build-smartype
    defaults:
      run:
        working-directory: examples/webExample
    runs-on: macOS-latest

    steps:
      - uses: actions/checkout@v2
      - name: set up JDK 1.15
        uses: actions/setup-java@v1
        with:
          java-version: 1.15
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - name: pre-create maven dir
        run: |
          mkdir -p ~/.m2/repository/com/mparticle
      - name: Download maven repo
        uses: actions/download-artifact@v2
        with:
          name: generator-maven
          path: ~/.m2/repository/com/mparticle
      - name: Download generator
        uses: actions/download-artifact@v2
        with:
          name: generator-jar
          path: examples/webExample
      - name: rename generator jar
        run: |
          rm -f smartype-generator-*-*.jar
          mv smartype-generator-*.jar smartype.jar
      - name: Run smartype
        run: |
          java -jar smartype.jar generate
      - name: Install dependencies
        run: npm install
      - name: Build web app
        run: npm run build
  build-android-example:
    needs: build-smartype
    defaults:
      run:
        working-directory: examples/androidExample
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: set up JDK 1.15
        uses: actions/setup-java@v1
        with:
          java-version: 1.15
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - name: Setup Android SDK
        uses: android-actions/setup-android@v2
      - name: pre-create maven dir
        run: |
          mkdir -p ~/.m2/repository/com/mparticle
      - name: Download maven repo
        uses: actions/download-artifact@v2
        with:
          name: generator-maven
          path: ~/.m2/repository/com/mparticle
      - name: Download generator
        uses: actions/download-artifact@v2
        with:
          name: generator-jar
          path: examples/androidExample
      - name: rename generator jar
        run: |
          rm -f smartype-generator-*-*.jar
          mv smartype-generator-*.jar smartype.jar
      - name: Run smartype
        run: |
          java -jar smartype.jar generate
      - name: Assemble Android App
        run: ./gradlew assembleRelease

  build-ios-example:
    needs: build-smartype
    defaults:
      run:
        working-directory: examples/iosExample
    runs-on: macOS-latest

    steps:
      - uses: actions/checkout@v2
      - name: set up JDK 1.15
        uses: actions/setup-java@v1
        with:
          java-version: 1.15
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - name: pre-create maven dir
        run: |
          mkdir -p ~/.m2/repository/com/mparticle
      - name: Download maven repo
        uses: actions/download-artifact@v2
        with:
          name: generator-maven
          path: ~/.m2/repository/com/mparticle
      - name: Download generator
        uses: actions/download-artifact@v2
        with:
          name: generator-jar
          path: examples/iosExample
      - name: rename generator jar
        run: |
          rm -f smartype-generator-*-*.jar
          mv smartype-generator-*.jar smartype.jar
      - name: Run smartype
        run: |
          java -jar smartype.jar generate --config=SmartypeExample/smartype.config.json
        env:
          GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}



  publish:
    runs-on: macOS-latest
    if: github.ref == 'refs/heads/main'
    needs: [build-web-example, build-ios-example, build-android-example]

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: set up JDK 1.15
        uses: actions/setup-java@v1
        with:
          java-version: 1.15

      - name: Upload Artifacts
        run: ./gradlew publishAllPublicationsToStagingRepository
        env:
          GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.MAVEN_CENTRAL_SIGNING_KEY }}
          ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.MAVEN_CENTRAL_SIGNING_KEY_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}